@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

:root {
  --main-dark: rgb(46, 23, 2);
  --main-light: rgb(252, 199, 50);
  --width: 31%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: 'Roboto', monospace;
  background-color: var(--main-light);
  color: var(--main-dark);
}
.coffe-box {
  width: 40%;
  margin: 0 auto;
}
svg {
  width: 100%;
}
path {
  fill: transparent;
  stroke-width: 0.5px;
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  stroke: var(--main-light);
  animation: draw 3s ease-in-out forwards;
}
.question {
  width: 0;
  text-transform: uppercase;
  overflow: hidden;
  height: 1.3em;
  margin: 20px auto 10px;
  font-size: 3em;
  text-align: center;
  border-right: 1px solid transparent;
}
.typing {
  animation: write 3s steps(16) forwards, blink-c 1s infinite;
}
input, label {
  cursor: pointer;
  padding: 10px;
}
form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  transition: 1s;
}
.hide {
  opacity: 0;
}
.sendAnswer {
  padding: 5px;
  font-weight: 700;
  font-family: 'Roboto', monospace;
}
.response {
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}

/* secound task */
.secondTask {
  padding: 50px 20px 20px;
  text-align: center;
}
.blocksBox {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.box {
  position: relative;
  width: 30%;
  height: 30vh;
  box-shadow: 0 0 10px gray;
  border: 1px solid red;
}
.box p {
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes draw {
  to { stroke-dashoffset: 0; stroke: var(--main-dark); }
}
@keyframes write {
  to { width: var(--width); }
}
@keyframes blink-c {
  from { border-right: 1px solid var(--main-dark); }
  to { border-right: 1px solid transparent; }
}

@media (max-width: 1400px) {
  body {
    --width: 50%;
  }
  .question {
    font-size: 2em;
  }
  .coffe-box {
    width: 60%;
  }
}
@media (max-width: 600px) {
  body {
    --width: 80%;
  }
  .question {
    font-size: 1.5em;
  }
  .response {
    font-size: 1em;
  }
  .coffe-box {
    width: 70%;
  }
}
@media (max-width: 399px) {
  .blocksBox {
    flex-direction: column;
  }
  .box {
    width: 100%;
    margin-bottom: 30px;
  }
}